<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <% if current_user.try(:admin?) %>
        <th>Name</th>
      <% end %>
      <th>Title</th>
      <th>Details</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.id %></td>
        <% if current_user.try(:admin?) %>
          <td><%= complaint.name %></td>
        <% end %>
        <td><%= complaint.title %></td>
        <td><%= complaint.details %></td>
        <td><%= complaint.status %></td>

        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>

        <% if !current_user.try(:admin?) %>
          <td><%= link_to 'Delete', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

        <% if current_user.try(:admin?) %>
          <% if complaint.pending? %>
            <td><%= link_to 'Mark as Processing', update_status_complaint_path(complaint,current_user), method: :patch %></td>
          <% elsif complaint.processing? %>
            <td><%= link_to 'Mark as Complete', update_status_complaint_path(complaint,current_user), method: :patch %></td>
          <% end %>

        <% else %>
          <% if complaint.complete? %>
            <td><%= link_to 'Mark as Resolved', update_status_complaint_path(complaint,current_user), method: :patch %></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
