<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @complaint.id %>
</p>

<% if current_user.try(:admin?) %>
  <p>
    <strong>Name:</strong>
    <%= @complaint.name %>
  </p>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @complaint.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @complaint.details %>
</p>

<p>
  <strong>Status:</strong>
  <%= @complaint.status %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
